.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

select:required:invalid {
	color: gray;
}

option[value=""][disabled] {
	display: none;
}

#deselect-query {
	margin-right: 5px;
	padding: 0.45rem 0.75rem;
}

option {
	color: black;
}

#deselect-login-help-text {
	text-align: left;
}

#deselect-optIn-checkbox {
	height: 11px;
	width: 11px;
}

.opt-in-text {
	font-size: 12px;
	color: #706E6B;
	display: inline;
}

#deselect-results .deselect-no-results tbody {
	margin-top: 0px;
}

#deselect-results .deselect-no-results tbody tr {
	justify-content: center;
}
.deselect-main-div .deselect-no-results tbody tr:hover {
    background: transparent !important;
}

#deselect-results .deselect-no-results tbody td {
	border: none;
}

.deselect-main-div #deselect-results tr td:hover {
	color: #222 !important;
	cursor: default;
}

#deselect-login-container {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0px);
	z-index: 9;
	width: 380px;
	height: 200px;
	text-align: center;
	margin-top: -14px;
}

.deselect-modal {
	width: 100%;
	height: 200px;
	text-align: center;
	margin-top: 15px;
}

.deselect-modal-content {
	height: 85px;
	width: 450px;
	text-align: left;
	margin: 0 auto;
	border: 1px solid;
	background-color: gainsboro;
	padding: 12px;
}

#deselect-close-modal {
	float: right;
	margin-top: 10px;
	background: #FFCC00;
}

#deselect-login-inner-container {
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 9;
	width: 576px;
	height: 28rem;
	top: 20vh;
	padding: 30px;
	box-shadow: 0px 2px 2px #0000001a;
	border: 1px solid #DDDBDA;
	border-radius: 4px;
	margin: 0 auto;
	background: #FCFCFC;
}

#deselect-login-container h1 {
	font-size: 1.7rem;
	margin-bottom: 10px;
}

#deselect-login-container h2 {
	font-size: 1.5rem;
	margin: 25px auto;
}

div.deselect-wrapper {
	position: relative;
	top: -3px;
}

.deselect-input-form {
	display: block;
	flex-flow: row;
	align-items: center;
	justify-content: left;
}

.deselect-login-input {
	padding: 8px;
	font-size: 16px;
	outline: none;
	margin-right: 5px;
	width: 285px;
	border-radius: 3px;
	border: 1px solid black;
}

.deselect-alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.deselect-alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

#deselect-automation-warning {
	white-space: nowrap;
	margin-top: -39px !important;
	margin-left: 105px;
	margin-bottom: 19px !important;
}

#deselect-search-object-by {
	margin-top: 15px;
	margin-bottom: -13px !important;
}

#deselect-results-content-wrapper {
	border: none 0px rgb(0, 0, 0);
	width: auto;
	margin: 0px 0px 6px 0px !important;
}

#deselect-results {
	width: 100%;
	overflow-x: hidden;
	border: 0;
	overflow-y: auto;
	max-height: 300px;
}

#deselect-results tbody {
	margin-top: 39px;
	display: block;
}

#deselect-searchButton {
	max-width: 100px;
	color: black;
	background: #e98300;
	line-height: 24px;
	display: flex;
	flex-direction: row;
	min-width: 32px;
	border-radius: 3px 3px 3px 3px;
}

#deselect-searchButton:hover {
	background: #FFCC00;
}

#deselect-searchButton.disabled {
	opacity: 0.65;
	cursor: not-allowed;
}

.deselect-main-div {
	display: block;
	float: right!important;
	width: 312px;
	margin-right: 30px;
	margin-top: 24px;
}

.deselect-form-div {
	display: flex;
}

.deselect-search-input {
	display: flex;
	align-items: stretch;
	max-height: 32px;
	margin-left: 4px;
}

.deselect-search-term {
	min-width: 150px;
	margin-right: 5px;
	margin-left: 1px;
}

.mc-header-all-apps-container {
	min-width: 505px!important;
	height: 58px;
}

#deselect-close-extension-icon {
	background: white;
	display: inline-block;
	width: 20px;
	height: 20px;
	left: 98%;
	top: 2px;
	position: relative;
	box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 25%);
	border-radius: 100%;
	cursor: pointer;
}

#deselect-close-extension-icon img {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 1px;
}

#deselect-results-wrapper {
	box-shadow: 0px 2px 2px #0000001A;
	border: 1px solid #DDDBDA;
	border-radius: 4px;
	transform: translate(-66%, 0);
	position: fixed;
	left: 66%;
	background-color: white;
	width: 1189.94px;
	max-width: unset !important;
	margin-top: 40px;
}

.max-width-190 {
	max-width: 190px;
}

#sfmc-quick-search-title {
	float: right;
	margin-right: 20px;
	margin-top: 4px;
	font-size: 1.5rem;
	font-weight: 600;
}

#powered-by-deselect {
	float: right;
	font-size: 18px;
	margin-right: -5px !important;
	margin-top: 32px !important;
}

#deselect-collapsed_results {
	background: #FCFCFC;
	border: 1px solid #DDDBDA;
	box-shadow: 0px 2px 2px #0000001A;
	border-radius: 4px;
	white-space: nowrap;
	max-width: unset !important;
	display: block;
	margin-top: 30px;
	width: fit-content;
	position: fixed;
	right: 50px;
	user-select: text;
}

.deselect-logo {
	width: 268px;
	margin-top: -24px;
}

#deselect-collapse {
	float: right;
	color: #000066;
}

#deselect-collapse img {
	transform: rotate(180deg);
	width: 9px;
	margin-top: -2px;
}

#deselect-collapse, #expand {
	margin: 10px;
	padding: 10px;
	color: black;
	background: #FFCC00;
}

#deselect-close-icon-expanded {
	float: right;
	margin: 9px !important;
	padding: 10px;
    background: #FFCC00;
}

#deselect-close-icon-expanded img {
	width: 9px;
	margin-top: -2px;
}

#deselect-close-icon-collapsed {
	margin: 10px;
	padding: 10px;
    background: #FFCC00;
}

#deselect-close-icon-collapsed img {
	width: 9px;
	top: -1px;
	position: relative;
	margin-top: 0!important;
}

.deselect-path-text {
	font-style: italic;
	padding-right: 10px;
}

.deselect-main-div .slds-spinner_small.slds-spinner:before ,.deselect-main-div .slds-spinner:before, .deselect-main-div  .slds-spinner:after, .deselect-main-div  .slds-spinner__dot-a:before, .deselect-main-div  .slds-spinner__dot-b:before, .deselect-main-div  .slds-spinner__dot-a:after, .deselect-main-div  .slds-spinner__dot-b:after {
	background: white;
	z-index: 9;
}

#deselect-spinner {
	width: 0.9rem;
	left: 150px;
	top: 11px;
	position: relative;
	z-index: 99999;
}

.deselect-spinner-background {
	width: 33px;
	height: 72.48px;
	top: -36px;
	border-radius: 3px;
	left: -10px;
	position: relative;
	background: #FFCC00;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div {
	margin-top: 13px;
}

#deselect-close-icon-email-popup {
	width: 20px;
	top: -42px;
	right: 12px;
	position: relative;
	float: right;
	cursor: pointer;
}

@media only screen and (max-width: 1275px) {
	.mc-header-all-apps-container {
		min-width: 374px!important;
	}

	.mc-header-brand {
		max-width: 190px!important;
		margin-left: -19px!important;
	}

	.mc-header-navigation {
		margin-left: -4px!important;
	}

	.deselect-main-div #deselect-results tr td:nth-of-type(1) {
		padding: 10px;
	}

	#deselect-results .slds-table .col:nth-child(1) {
		padding: 10px;
		padding-top: 8px;
		width: 134px !important;
	}

	#deselect-results .slds-table .col:nth-child(2){
		width: 306px !important;
	}

	#deselect-results .slds-table .col:nth-child(3){
		width: 472px !important;
	}

	#deselect-results .slds-table .col:nth-child(4){
		width: 137px !important;
	}

	#deselect-results-wrapper{
		width: 1068px;
	}
  }

.deselect-main-div .slds-textarea {
	width: 230px;
	border-radius: 4px;
}

.deselect-main-div .slds-select {
	border-radius: 0.25rem 0rem 0rem 0.25rem;
	color: #6d6d6d;
}

.deselect-main-div .slds-select_container {
	min-width: 240px;
}

.deselect-main-div .deselect-search-input {
	margin-left: -1px;
}

.deselect-main-div .btn {
	color: white !important;
	box-shadow: none;
}

.deselect-main-div .btn img {
	margin-left: 5px;
	margin-top: 5px;
}

.deselect-main-div .slds-select:focus, .deselect-main-div .slds-select:active {
    outline: 0;
    border-color: #fdb067;
    background-color: white;
    box-shadow: 0 0 3px #fdb067;
}

.deselect-main-div #deselect-options-dropdown {
	max-height: 300px;
	margin-right: -300px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: max-content;
	border-radius: 4px;
	background: white;
	padding: 10px;
	border: 1px solid #DDDBDA;
	margin-top: 5px;
	box-shadow: 0px 2px 3px #00000029;
}

.deselect-main-div #deselect-options-dropdown::before {
	content:'';
	width: calc(100% + 20px);
	height: 70px;
	border-radius: 4px 4px 0px 0px;
	background: #F5F5F5;
	display: block;
	margin-left: -10px;
	margin-top: -20px;
}

.deselect-main-div #deselect-radio-buttons {
	display: block;
	margin-top: -60px;
}

.deselect-main-div #deselect-radio-buttons p {
	font-size: 16px;
	line-height: 13px;
	margin-bottom: -5px;
	margin-left: 24px;
}

.deselect-main-div #deselect-name-radio-button {
	margin-bottom: 20px;
	margin-left: 24px;
}

.deselect-main-div  #deselect-options-dropdown > #deselect-radio-buttons > span  option {
	padding: 7px 15px 7px 35px;
	margin-left: -10px;
	margin-right: -10px;
}

.deselect-main-div  #deselect-options-dropdown > #deselect-radio-buttons > span  option:hover {
	background: #f1f1f1;
}

.deselect-main-div .slds-select_container::after {
	display: none;
}

.deselect-main-div .slds-select_container::before {
	transform: rotate(180deg);
	top: 14px;
}

.deselect-main-div .slds-select {
	padding-top: 7px;
}

.deselect-main-div .slds-select p {
	font-size: 13px;
}

.deselect-main-div #deselect-spinner-and-status {
	float: right;
	margin-top: -29px;
	margin-right: 208px;
	z-index: 99999;
}

#deselect-status {
	margin-top: 38px;
	left: 198px;
	font-size: 12px;
	position: relative;
}

.deselect-main-div #deselect-search {
	width: 312px;
	float: right;
	z-index: 9999;
}

#deselect-external-key-radio-button {
	margin-left: 10px;
}

.deselect-relogin-popup, .deselect-whats-this-tooltip {
	left: 410px;
	top: 0px;
}

.deselect-relogin-popup .btn:hover {
    background: #ff9a3c;
}

#deselect-update-popup, .deselect-relogin-popup {
	display: block;
	position: fixed !important;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 9;
	width: 576px;
	height: auto;
	top: 20vh;
	padding: 30px;
	box-shadow: 0px 2px 2px #0000001A;
	border: 1px solid #DDDBDA;
	border-radius: 4px;
	background: #FCFCFC;
}

.deselect-update-popup-background {
	content: '';
	position: fixed;
	z-index: 8;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.5;
	background: rgb(0 75 140);
}

.deselect-title-section {
	background: #FFCC00;
	width: 576px;
	height: 80px;
	margin-left: -31px;
	margin-top: -31px;
	font-size: 25px;
}

.deselect-title-section h1 {
	position: relative;
	color: #000066!important;
	font-size: 1.7rem;
	text-align: center;
	top: 30px;
}

.deselect-main-div #deselect-update-popup .btn, .deselect-relogin-popup .btn {
	padding: 10px 20px;
	font-size: 1rem;
	margin: 30px 0px 0px 10px;
	float: right;
	background: #ff9a3c;
}

.deselect-relogin-popup p {
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
}

.deselect-main-div .slds-table tbody tr {
	background: white;
}

.deselect-main-div .slds-table tbody tr:hover {
	background: #F3F2F2;
}

.deselect-main-div .slds-table tbody tr {
	height: auto;
}

.deselect-main-div .slds-table thead tr {
	height: 40px;
}

.deselect-main-div .slds-table:not(.slds-no-row-hover) tbody tr:hover > td, .slds-table:not(.slds-no-row-hover) tbody tr:hover > th, .slds-table:not(.slds-no-row-hover) tbody tr:focus > td, .slds-table:not(.slds-no-row-hover) tbody tr:focus > th {
    background-color: inherit;
}

.deselect-main-div .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-has-focus), .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-has-focus), .slds-table_bordered:not(.slds-no-row-hover) tbody tr:focus > td:not(.slds-has-focus), .slds-table_bordered:not(.slds-no-row-hover) tbody tr:focus > th:not(.slds-has-focus), .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-has-focus), .slds-table--bordered:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-has-focus), .slds-table--bordered:not(.slds-no-row-hover) tbody tr:focus > td:not(.slds-has-focus), .slds-table--bordered:not(.slds-no-row-hover) tbody tr:focus > th:not(.slds-has-focus) {
    box-shadow: inherit;
}

.deselect-main-div #deselect-results tr td:nth-of-type(1) {
	padding-right: 20px;
	cursor: pointer;
}

#deselect-results tbody td {
	max-height: 58.2px;
	padding-bottom: 11px;
	padding-top: 11px;
	display: flex;
	align-self: center;
}

.deselect-main-div #deselect-results tr td:nth-of-type(1):hover {
	color: #FFCC00;
}

.orange-pin-hover {
	display: none;
	width: 20px;
	position: absolute;
	z-index: 5;
}

.deselect-main-div #deselect-results tr td:nth-of-type(1):hover .orange-pin-hover {
	display: block;
}

/*this changes the color of table svgs*/
.deselect-main-div #deselect-results tr td:nth-of-type(1):hover svg path {
	fill: #FFCC00;
}

.deselect-results-button-group {
	background: #FFCC00;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: -1px;
	margin-top: -1px;
	margin-right: -1px;
	width: 100.1%;
	border-radius: 4px 4px 0px;
}

.deselect-results-button-group .btn {
    padding: 10px 20px;
	font-weight: 400;
	font-size: 14px;
}

.deselect-result-control-buttons {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.deselect-business-unit-radio {
	margin: 10px;
	color: white;
	width: 35%;
	margin-left: 25px;
}

.deselect-business-unit-radio label {
	font-weight: 400;
	font-size: 14px;
}

#deselect-currentBU-checkbox {
	position: relative;
	top: 2px;
	margin-right: 3px;
}

#deselect-email-submit-btn {
	padding: 11px 30px;
	font-size: 16px;
	background: #FFCC00;
}

.deselect-sub-domain-help-text {
	font-size: 12px!important;
	text-align: left!important;
	line-break: auto;
}

.sub-domain-help-text2 {
	font-size: 13px!important;
	text-align: left!important;
}

#deselect-close-icon-subDomain-popup {
	width: 20px;
    top: -42px;
    right: 12px;
    position: relative;
    float: right;
    cursor: pointer;
}

.deselect-input-form #deselect-email {
	width: 100%;
	border: 1px solid #DDDBDA;
}

.deselect-input-form #deselect-job-title {
	width: 100%;
	border: 1px solid #DDDBDA;
	margin-bottom: 2rem;
}

.deselect-input-form-subDomain {
	align-items: center;
	justify-content: left;
	flex-flow: row;
	display: block;
}

#deselect-subdomain-input {
	width: 100%;
	border: 1px solid #DDDBDA;
	padding: 4px 30px;
	font-size: 16px;
}

.deselect-update-arrow {
    position: absolute;
    right: -125px;
    top: -100px;
    width: 180px;
    transform: rotate(338deg);
}

.deselect-radio-names {
	position: relative;
	top: -2px;
}

.deselect-chevron {
	width: 11px;
}

.deselect-whats-this-tooltip {
	position: relative;
	top: -8px;
	color: white;
	left: 396px;
	width: 112px;
	font-size: 12px;
}

.deselect-whats-this-tooltip img {
	width: 15px;
	margin-right: 3px;
}

.deselect-extension-description-popup {
	display: none;
	background: white;
	color: black;
	width: 295px;
	padding: 20px;
	border-radius: 4px;
	top: -93px;
	right: -506px;
	position: relative;
	box-shadow: rgb(0 0 0 / 10%) 0px 2px 2px;
	border: 1px solid #e8e8e8;
}

.deselect-extension-description-popup p {
	font-size: 14px;
}

.deselect-main-div .slds-table thead th {
	border-bottom: 1px solid #aeaeae;
}

.deselect-main-div #deselect-results thead {
	position: fixed;
	z-index: 99;
	margin-top: -1px;
}

#deselect-results .row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.deselect-main-div #deselect-results thead tr {
	display: flex;
	flex-direction: row;
}

#deselect-results .slds-table .col:nth-child(1), .slds-hint-parent td:nth-child(1) {
	width: 147px;
	display: block;
	padding-top: 5px;
}

#deselect-results .slds-table .col:nth-child(1) {
	padding-top: 8px;
}

#deselect-results .slds-table .col:nth-child(2) {
	padding-top: 12px;
}

#deselect-results .slds-table .col:nth-child(3) {
	padding-top: 12px;
}

#deselect-results .slds-table .col:nth-child(4) {
	padding-top: 12px;
}

#deselect-results .slds-table .col:nth-child(2), .slds-hint-parent td:nth-child(2) {
	width: 345px;
	padding-left: 0px;
	display: block;
	overflow-wrap: anywhere;
}

#deselect-results .slds-table .col:nth-child(3), .slds-hint-parent td:nth-child(3) {
	width: 530px;
	padding-left: 0px;
	display: block;
}

#deselect-results .slds-table .col:nth-child(4), .slds-hint-parent td:nth-child(4) {
	width: 150px;
	padding-left: 0px;
	display: block;
}

.deselect-main-div .slds-hint-parent {
    display: flex;
    flex-direction: row;
}

#deselect-results .slds-table td {
	white-space: unset;
	height: 58px !important;
	display: flex;
	align-items: center;
}

#deselect-results table {
	table-layout: fixed;
	user-select: text;
}

.deselect-no-results-BU-tr {
	justify-content: center;
	margin-top: -35px;
}

.deselect-no-results-BU-tr:hover {
    background: transparent !important;
}

.deselect-no-results-BU-td {
	text-align: center;
	width: fit-content!important;
	border-top: unset!important;
	cursor: auto!important;
}

.mc-header.hide-app-menus .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[availableWidth^="shrink"] #deselect-options-dropdown, .mc-header.hide-app-menus .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="false"] #deselect-options-dropdown {
	margin-right: -228px;
}

.mc-header.hide-app-menus .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="false"] {
	margin-top: 60px;
	width: 0px;
}

.mc-header.hide-app-menus .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="false"] {
	margin-top: 60px;
	width: 0px;
}

.mc-header.hide-app-menus .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="false"] #deselect-spinner {
	top: -1rem;
	left: 33px;
}

.mc-header.hide-app-menus .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="false"] #deselect-spinner {
	top: -2.7rem;
	left: 145px;
}

.mc-header > .mc-header-user-and-account > .deselect-deselect-main-div {
	margin-top: 0;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="shrink"], .deselect-main-div[location^="Contact"][availableWidth^="shrink"] {
	width: 192px;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="shrink"] .slds-textarea, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="false"] .slds-textarea, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="shrink"] .slds-textarea {
	width: 150px !important;
	float: right;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="shrink"] #deselect-searchButton p, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="false"] #deselect-searchButton p, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="shrink"] #deselect-searchButton
	p {
	display: none !important;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="shrink"] #deselect-searchButton img, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="false"] #deselect-searchButton img, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="shrink"] #deselect-searchButton img {
	margin-left: 0px;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="shrink"] #deselect-search, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="false"] #deselect-search, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="shrink"], .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="shrink"] #deselect-search, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="shrink"] {
	width: 200px;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="shrink"] #deselect-spinner-and-status, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="false"] #deselect-spinner-and-status, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="shrink"] #deselect-spinner-and-status {
	left: 158px;
	top: 7px;
	position: relative;
}

 .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="false"] #deselect-spinner-and-status, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="false"] #deselect-spinner-and-status {
	left: 5px;
	top: 85px;
	position: relative;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="shrink"] .deselect-spinner-background, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="false"] .deselect-spinner-background, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="shrink"] .deselect-spinner-background {
	left: 9px;
	top: -16px;
	height: 33px;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="shrink"] #deselect-spinner, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Email"][availableWidth^="false"] #deselect-spinner, .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="shrink"] #deselect-spinner {
	top: 3px;
	left: 34px;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Email"][availableWidth^="shrink"] div, .hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Email"][availableWidth^="false"] div, .hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Contact"][availableWidth^="shrink"] div {
	float: right;

}
.hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Email"][availableWidth^="shrink"] #deselect-close-extension-icon, .hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Email"][availableWidth^="false"] #deselect-close-extension-icon, .hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Contact"][availableWidth^="shrink"] #deselect-close-extension-icon{
	left: 13%;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Email"] #deselect-close-extension-icon, .hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Contact"] #deselect-close-extension-icon {
	top: 58px;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Email"][availableWidth^="false"] #deselect-close-extension-icon, .hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Contact"][availableWidth^="false"]  #deselect-close-extension-icon {
	top: 0px;
}

@media only screen and (max-width: 1120px) {
	.deselect-main-div[location^="Dashboard"] {
		width: 266px;
		margin-right: -50px;
	}

	.deselect-main-div[location^="Dashboard"] .slds-textarea {
		width: 184px;
	}

	.deselect-main-div[location^="Dashboard"] #deselect-searchButton p {
		display: none;
	}
	.deselect-alert-popup{
		margin-right: 69px !important;
	}
	.deselect-error-popup{
		margin-right: 69px !important;
	}
}

.deselect-chevron-icon {
	margin-top: 0!important;
}

.deselect-main-div[availableWidth^="false"] {
	height: 0px;
}

.deselect-help-link {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}


#deselect-open-chrome-extension {
	cursor: pointer;
	display: inline-block;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px 0px;
	text-align: center;
	border-radius: 7%;
	width: 40px;
	height: 37px;
	margin-top: 13px;
}

#deselect-open-chrome-extension img {
	max-width: 70%;
	padding: 0px;
	margin-top: 3px;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div #deselect-open-chrome-extension {
	width: 34px;
	cursor: pointer;
	display: inline-block;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px 0px;
	text-align: center;
	margin-top: 3px;
	border-radius: 7%;
	height: 32px;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Email"][availableWidth^="shrink"] #deselect-open-chrome-extension img {
	max-width: 70%;
	padding: 0px;
	margin-top: 3px;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[availableWidth^="false"] #deselect-open-chrome-extension {
	margin-top: 17px;
}

.deselect-main-div[open-chrome-extension^="open-chrome-extension"]{
	margin-top: 8px!important;
	width: 51px!important;
}

#deselect-main-div[location^="Contact"] #deselect-open-chrome-extension {
	display: block;
    margin-top: 3px;
    width: 32px;
    height: 30px;
}

.mc-header.hide-app-menus .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[close-extension-icon^="close-extension-icon"] {
	margin-top: 40px !important;
}

.deselect-main-div[close-extension-icon^="close-extension-icon"] {
	margin-top: 0px;
}

.deselect-error-popup {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #C23934;
	color: white;
	padding: 10px 20px;
	font-size: 12px;
	font-family: 'Salesforce Sans', sans-serif;
	opacity: 0.95;
	margin-right: -11px;
	border-radius: 3px;
	width: max-content;
}

.deselect-alert-popup h2, .deselect-error-popup h2 {
	margin: 0px 15px;
	line-height: 140%;
	text-align: left;
}

.deselect-error-popup a {
	color: white;
	text-decoration: underline;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Email"][availablewidth^="shrink"] div .deselect-error-popup, .hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Email"][availablewidth^="shrink"] div .deselect-alert-popup {
	margin-right: 146px;
}

.hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Email"][availablewidth^="false"] div .deselect-error-popup, .hide-menu-from-assistive-tech + .mc-header-user-and-account > div#deselect-main-div[location^="Email"][availablewidth^="false"] div .deselect-alert-popup {
	margin-right: 146px;
	margin-top: -32px;
}

.mc-header.hide-app-menus .hide-menu-from-assistive-tech + .mc-header-user-and-account > .deselect-main-div[location^="Contact"][availableWidth^="false"] #deselect-status {
	margin-top: 0px;
}

.deselect-error-popup img {
	cursor: pointer;
	width: 17px;
}

.deselect-brand-color-text {
	color: #000066!important;
}

#currentBU-checkbox-label {
	color: #000066;
}

input:focus-visible {
	outline: none;
}

.slds-textarea:focus, .slds-textarea:active {
	outline: none!important;
	border-color: none!important;
	box-shadow: none!important;
	border: 1px solid #dddbda!important;
}

#close-icon-update-popup {
	background: #FFCC00!important;
}

#subdomain-submit-btn {
	background: #FFCC00;
}

.deselect-search-icon {
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/search-normal.svg');
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-left: 5px;
	width: 13px;
	height: 14px;
}

#deselect-searchButton:hover .deselect-search-icon {
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/search-hover.svg');
}

.deselect-search-text {
	color: white;
}

#deselect-searchButton:hover .deselect-search-text {
	color: #000066;
}

.deselect-location-path{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.deselect-after-inital-login-message {
	font-size:12px;
	text-align: left;
	margin-bottom: 1rem;
}


/* Additional CSS from codepen - https://codepen.io/jazzunit/pen/BQPLjQ */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


* {
  box-sizing: border-box;
}
body {
  color:#ccc;
  /* background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAABxJREFUGBljrKqq+s9ADCBWIRMxhoHUjCrEG1IAYyQE7KpUs6kAAAAASUVORK5CYII=) repeat; */
  background-color: #222;
  font-family: 'Lato', san-serif;
  font-size: 14px;
  overflow: hidden;
}

.dock {
  position: absolute;
  bottom:80px;
  left:50vw;
  z-index:10000;
}
.dock__icon_btn {
  position: absolute;
  display: block;
  border-radius: 10000px;
  border: solid 2px rgba(51,51,51,1);
  box-shadow: 0 0 10px 1px rgba(0,0,0,1);
  white-space: nowrap;
  overflow: hidden;
  width:60px;
  height:60px;
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0,0,0,0.8);
  color:#fff;
  border: solid 1px #fff;
}
.dock__icon_btn.dock__icon_btn--active {
  color:#00ff00;
  border: solid 4px #00ff00;
  line-height: 52px;
}

.palette--layer {
  Xdisplay:none;
}
.window {
  position: absolute;
  display: block;
  border-radius: 10px;
  border: solid 2px rgba(51,51,51,1);
  box-shadow: 0 0 10px 1px rgba(0,0,0,1);
  white-space: nowrap;
  overflow-x: auto;
}
.window, .window--panel {
  background-color: rgba(0,0,0,0.85);  
}
.window--palette {
  background-color: rgba(51,51,51,0.9);  
}
.window.window--closed {
  display:none;
  XXXXvisibility:hidden;
}
.window.window--focused {
    border-color: #ffffff;
}
.window.window--palette.window--focused {
    border-color: #00ff00;
}
.window--circle {
  position: absolute;
  display: block;
  border-radius: 10000px;
}
.window--vert {
  display: block;
}
.window--horiz {
  display: flex;
  flex-wrap: nowrap;
}
.window--horiz.window--80 div {
  max-height: 80px;
}
.window--vert.window--80 div {
  max-width: 80px;
}
.window--vert > div.window__frame {
  padding: 8px 8px 0px 8px;
}
.window--vert > div.window__frame:last-of-type {
  padding: 8px;
}
.window--horiz > div.window__frame {
  padding: 8px 0px 8px 8px;
}
.window--horiz > div.window__frame:last-of-type {
  padding: 8px;
}



.window > div {
  XXXXborder: solid 1px gray;
  text-align: center;
}

.btn--ico, .btn--ico--window {
  position: relative;
  width: 60px;
  height: 60px;
  XXXXborder: solid 1px #33ccff;
  border-radius: 5px;
  cursor: pointer;
}
.window--micro--enabled div:not(:first-child) {
  display:none;
}
.window--micro--enabled > div.window__frame {
  padding: 8px;
}
.btn--ico {
  color: #33ccff;
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: solid 0px #33ccff;
}
.btn--ico__label {
  padding:0;
}
.btn--ico__label > .icon {
  color: #33ccff;
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 30px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--ico__label > .label {
  font-family: 'Lato', san-serif;
  font-size: 12px;
  height: 40%;
  line-height: 12px;
  color: #33ccff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn--ico--toggle--on {
  background-color: rgba(0,256,0,0.2);
  
}
.btn--ico--toggle--on > .icon,
.btn--ico--toggle--on > .label {
  color: #00ff00;
}
.btn--ico--toggle--on > .icon:after {
  font-size: 10px;
  line-height: 10px;
  content:'\F00C';
  position:absolute;
  top:2px;
  right:2px;
  
}
.inline-help--window {
  display: table;
  width: 60px;
  height: 60px;
  XXXXmargin: 10px;
}
.window--vert > div.inline-help--window {
  margin: 8px 8px 0px 8px;
}
.window--horiz > div.inline-help--window {
  margin: 8px 0px 0px 8px;
}

.inline-help--window {
    display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  Xword-wrap: break-word;
  line-height:14px;
}

#d1 {
  XXborder-color: green;
  left: 20px;
  top: 50px;
  z-index: 1;
}
#d2 {
  XXborder-color: orange;
  left: 90vw;
  top: 50px;
  z-index: 2;
}
#d3 {
  XXborder-color: orange;
  left: 35vw;
  top: 70vh;
  z-index: 3;
}


.ui-contextmenu {
  z-index: 20000;
  border: solid 1px rgba(256,256,256,1);
  box-shadow: 0 0 10px 1px rgba(0,0,0,1);
  background-color: rgba(0,0,0,1);  
  border-radius: 10px;
  padding:9px;
}
.ui-menu .ui-menu-item {
  line-height: 60px;
  color: #33ccff;
}
.ui-menu .menu-header {
  color: #fff;
}
